<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录页面</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>
<header>
    <ul class="layui-nav layui-bg-blue" lay-bar="disabled" style="text-align: center;box-shadow: 0 0 18px rgba(0,0,0,0.2);">
        <li class="layui-nav-item" style="width: 100px;"><a href="">首页</a></li>
        <li class="layui-nav-item" style="width: 100px;"><a href="">职位</a></li>
        <li class="layui-nav-item" style="width: 100px;"><a href="">公司</a></li>
        <li class="layui-nav-item" style="width: 100px;">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child">
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" style="width: 100px;"><a href="">社区</a></li>
        <li class="layui-nav-item" style="margin-left: 40px ">
            <a style="display: inline" href="">登录</a>
            <div style="display: inline"> | </div>
            <a style="display: inline" href="">注册</a>
        </li>
    </ul>
</header>
<div style="width: 300px;height: 3000px;color: #00FF00">

</div>
</body>
<script src="../static/layui/layui.all.js"></script>
<!--<script>-->
<!--    const headerEl = document.querySelector("header");-->
<!--    window.addEventListener("scroll",()=>{-->
<!--        let height = headerEl.getBoundingClientRect().height;-->
<!--        if(window.pageYOffset - height > 10){-->
<!--            if(!headerEl.classList.contains("layui-anim layui-anim-downbit")){-->
<!--                headerEl.classList.add("layui-anim layui-anim-downbit");-->
<!--                headerEl.style = "position :fixed";-->
<!--            }else{-->
<!--                headerEl.classList.remove("layui-anim layui-anim-downbit");-->
<!--            }-->
<!--        }-->
<!--    })-->
<!--</script>-->
</html>