<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢迎来到职位选择界面</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <script src="../static/layui/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="../static/css/index.css" media="all">
</head>
<body>
    <header>
        <ul class="layui-nav layui-bg-blue" lay-bar="disabled" style="text-align: center;box-shadow: 0 0 18px rgba(0,0,0,0.2);">
<!--            <li class="layui-logo" lay-unselect=""><img src="../static/images/title.png" style="width: 20%;height: 20%"></li>-->
            <li class="layui-nav-item" style="width: 100px;margin-right: 40px"><a href="" style="font-size: 18px;">首页</a></li>
            <li class="layui-nav-item" style="width: 100px;"><a href="" style="font-size: 18px;">职位</a></li>
            <li class="layui-nav-item" style="width: 100px;margin-left: 40px"><a href="" style="font-size: 18px;">公司</a></li>
            <li class="layui-nav-item" style="margin-left: 140px ">
                <a style="display: inline;font-size: 16px;cursor: pointer" id="login">登录</a>
                <div style="display: inline;font-size: 16px"> | </div>
                <a style="display: inline;font-size: 16px;cursor: pointer" id="signin">注册</a>
            </li>
        </ul>
    </header>
    <div class="layui-row">
        <div class="layui-col-md2" style="opacity: 0">2/12</div>
        <div class="layui-col-md8" style="box-shadow: 0 0 18px rgba(0,0,0,0.2);">
            <div class="layui-panel-window" style="border: 1px solid #ededed;background-color: #f6f6f6">
                <div style="padding: 40px 30px;">
                    <form class="layui-form layui-form-pane" action="">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>搜索你想要的工作</legend>
                        </fieldset>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="background-color: #2D93CA;color: #ffffff">在这里输入</label>
                            <div class="layui-input-block">
                                <input type="text" name="data" autocomplete="off" placeholder="请输入搜索内容" class="layui-input">

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-btn-container" style="text-align: center">
                                <button class="layui-btn layui-btn-normal" style="width: 100px;height: 38px;background-color: #2D93CA;margin-top: 20px">搜  索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div style="margin-top: 20px">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 40px;">
                    <legend>来看看下面的岗位吧</legend>
                </fieldset>
                <ul style="margin-top: 30px;padding: 10px 10px" class="item_con_list" id="job_list">
                    <li class="layui-panel-window" style="border: 1px solid #ededed;">
                        <div class="list_item_top">
                            <div class="position">
                                <div class="p_top">
                                    <h3>产品需求分析师[深圳-南山区]</h3>
                                </div>
                                <div class="p_bot">
                                    <div class="li_b_l">
                                        <span class="money">25k-45k</span>
                                    </div>
                                </div>
                            </div>
                            <div class="company">
                                <div class="company_name">
                                    <h3>公司名称</h3>
                                </div>
                                <div class="industry">数据服务，企业服务/不需要融资/100人左右</div>
                            </div>
                            <div class="com_button">
                                <button class="layui-btn layui-btn-normal" style="background-color: #ee5f40;">查看详细信息</button>
                                <button class="layui-btn layui-btn-normal" style="background-color: #2D93CA;">就选择他了！</button>
                            </div>
                        </div>
                        <div class="list_item_bot">
                            <div class="li_b_l">
                                <span>科技服务</span>
                            </div>
                            <div class="li_b_r">科技金融</div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="layui-col-md2" style="opacity: 0">2/12</div>
    </div>
</body>
<script src="../static/layui/layui.all.js"></script>
<script>
    login = document.getElementById("login");
    login.addEventListener('click',function (){
        console.log('a 标签被点击了')
        layer.open({
            type: 2,
            title:'登录',
            maxmin:true,
            skin: 'layui-layer-lan',
            ShadeClose: true,
            area:['420px','343px'],
            content:'tologin',
        })
        location.reload();
    })
    signin = document.getElementById("signin");
    signin.addEventListener('click',function(){
        window.location.href = 'signin';
    })
</script>
<!--<script>-->
<!--    const headerEl = document.querySelector("header");-->
<!--    window.addEventListener("scroll",()=>{-->
<!--        let height = headerEl.getBoundingClientRect().height;-->
<!--        if(window.pageYOffset - height > 10){-->
<!--            if(!headerEl.classList.contains("layui-anim layui-anim-downbit")){-->
<!--                headerEl.classList.add("layui-anim layui-anim-downbit");-->
<!--                headerEl.style = "position :fixed";-->
<!--            }else{-->
<!--                headerEl.classList.remove("layui-anim layui-anim-downbit");-->
<!--            }-->
<!--        }-->
<!--    })-->
<!--</script>-->
</html>